---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404">
  <div class="sm:flex sm:flex-col sm:place-items-center">
    <div class="w-80 h-80">
      <video autoplay loop width="320">
        <source src="/anny_sussy.webm" type="video/webm" />
      </video>
    </div>
    <h1 class="text-4xl mt-4">
      Looks like this route is a bit...
      <br>
      <span class="font-bold">Sussy</span>
    </h1>
  </div>
</Layout>