---
import Social from './navbar/social-networks.astro'
import WebNavigations from './navbar/web-navigations.astro'
---

<nav class="sm:flex justify-between">
  <div>OnlyFox</div>

  <!-- <div>
    <WebNavigations />
  </div> -->
</nav>
