---
import Social from '../components/navbar/social-networks.astro'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="OnlyFox Landing" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="sm:max-w-3xl sm:mx-auto dark:bg-gray-700 dark:text-white h-[100dvh]">
		<header>
			<div class="absolute w-6 left-1 top-24 block">
				<Social />
			</div>
		</header>
		<main class="h-full">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
</style>
